ion-item ion-label {
  font-style: italic;   /* cursiva */
}
.titulos {
  font-family: 'Playfair Display', serif;  /* si usas una fuente bonita */
  font-style: italic;                      /* cursiva */
  font-size: 1.5rem;                        /* más grande para el detalle */
  font-weight: 600;                         /* elegante */
  color: #ffffff;                           /* blanco o el color que quieras */
}